<p>Van fare details:<br />
    The minimum fare is € 3 and a rate of € 1 per km is charged. Ride time charges of € 0.25 per minute are charged for your entire ride duration.</p>

<p>Limo fare details:<br />
    The minimum fare is € 9 and a rate of € 3 per km is charged. Ride time charges of € 0.75 per minute are charged for your entire ride duration.</p>

<p>The meter will start after you have boarded the vehicle, however, the driver can start the meter when you have asked the cab to wait for you.</p>