<!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0px;color:rgb(0,0,0);font-family:Times;font-size:medium;background-color:rgb(242,242,242)">-->
    <!--<tbody>-->
    <!--<tr>-->
        <!--<td align="center" valign="top">-->
            <!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top" style="padding-top:9px">-->
                        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">-->
                            <!--<tbody></tbody>-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td align="center" valign="top">-->
            <!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top">-->
                        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td valign="top" style="padding:9px">-->
                                    <!--<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td valign="top" style="padding:0px 9px">-->
                                                <!--<img align="left" alt="" src="https://ci5.googleusercontent.com/proxy/INPmEWvpS6WVmrM6UBWEJeWQ03DX62Tg38Npqe9HsW_KcwYVAGAA5hb58yxOKMBchyeRMg8qmFQOaVP1ZQNpu5w5LSPV5By-v7yyTYcO--xFOvOUf8D1kc3zAWhtT2rvVlcK03co0X89gghTwtT_iz-JXvGyZHmP1mStP_Y=s0-d-e1-ft#https://gallery.mailchimp.com/4f0d0bd2cf1c2a9d816925da7/images/75a1d994-4ffe-4c24-89fa-e2cda6ff3a23.png" width="564" style="border:0px;outline:none;vertical-align:bottom;max-width:851px;padding-bottom:0px;display:inline!important" class="CToWUd a6T" tabindex="0">-->
                                                <!--<div class="a6S" dir="ltr" style="opacity: 0.01; left: 534px; top: 193px;">-->
                                                    <!--<div id=":19k" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">-->
                                                        <!--<div class="aSK J-J5-Ji aYr"></div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td align="center" valign="top">-->
            <!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top">-->
                        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td valign="top">-->
                                    <!--<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td valign="top" style="color:rgb(96,96,96);font-family:Helvetica;font-size:15px;line-height:22.5px;padding:9px 18px">-->
                                                <!--<h1 style="margin:0px;padding:0px;font-size:40px;letter-spacing:-1px"><span style="line-height:64px">One More FREE Ride</span></h1>-->
                                                <!--<p style="line-height:22.5px;margin:1em 0px;padding:0px">We are missing you at Jugnoo. It had been a while you had taken a ride with Jugnoo. At Jugnoo we are working hard to make our services better every day. As a gesture we have given you one more FREE ride so that you can try us out again.</p>-->
                                                <!--<p style="line-height:22.5px;margin:1em 0px;padding:0px">Thanks.&nbsp;</p>-->
                                                <!--<p style="line-height:22.5px;margin:1em 0px;padding:0px">Download us from the app store.<br></p>-->
                                                <!--<p style="line-height:22.5px;margin:1em 0px;padding:0px"><span style="color:rgb(20,24,35);font-family:helvetica,arial,'lucida grande',tahoma,verdana,arial,sans-serif;font-size:14px;line-height:20px">Android:&nbsp;</span><a href="http://bit.ly/1tRxXUC" rel="nofollow nofollow" style="word-wrap:break-word;color:rgb(59,89,152);text-decoration:none;font-family:Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;font-size:14px;line-height:20px" target="_blank">http://bit.ly/1tRxXUC</a><br style="color:rgb(20,24,35);font-family:Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;font-size:14px;line-height:20px"><br style="color:rgb(20,24,35);font-family:Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;font-size:14px;line-height:20px"><span style="color:rgb(20,24,35);font-family:helvetica,arial,'lucida grande',tahoma,verdana,arial,sans-serif;font-size:14px;line-height:20px">iOS:&nbsp;</span><a href="http://bit.ly/1u9uuSa" rel="nofollow nofollow" style="word-wrap:break-word;color:rgb(59,89,152);text-decoration:none;font-family:Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;font-size:14px;line-height:20px" target="_blank">http://bit.ly/1u9uuSa</a></p>-->
                                                <!--<p style="line-height:22.5px;margin:1em 0px;padding:0px">Want to know what happens behind the scenes at Jugnoo?&nbsp;<a href="http://chalojugnoose.tumblr.com/post/101785043829/thanks-real-work-begins-now" style="word-wrap:break-word;color:rgb(109,198,221)" target="_blank">Check out this blog post for more details</a></p>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td align="center" valign="top">-->
            <!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top" style="padding-bottom:9px">-->
                        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td valign="top">-->
                                    <!--<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td valign="top" style="color:rgb(96,96,96);font-family:Helvetica;font-size:11px;line-height:13.75px;padding:9px 18px"><em>Copyright © 2014 Jugnoo, All rights reserved.</em><br></td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>