h3 Enter Driver email id to free it
form(action='/makeMeFree', method='post')
    | id:
    input(type='text', name='id')
    input(type='submit', value='submit')

h3 enter engagement_id or driver email or customer email to delete laste ride engagement 
form(action='/clearLastEngagement', method='post')
    | id:
    input(type='text', name='id')
    input(type='submit', value='submit')

h3 if you want anything of user just submit email_id of that
form(action='/getSomething', method='post')
    | id:
    input(type='text', name='id')
    input(type='submit', value='submit')

h3 enter driver id of driver to verify him
form(action='/makeMeDriver', method='post')
    | id:
    input(type='text', name='id')
    input(type='submit', value='submit')


h3 update user things
h4    0:"verification_token",
h4    1:"user_id",
h4    2:"car_type",
h4    3:"user_name"
form(action='/makeMeDriver', method='post')
    | id:
    input(type='text', name='id')
    input(type='submit', value='submit')